<header class="header">
  <h1>Why <span class="highlight">Titan</span></h1>
 </header>

 <section class="features-container">
 <a   href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F">
  <div class="feature-card blue-shadow">
     <div class="icon-container blue-bg">
      <i class="fas fa-id-card"></i>
     </div>
     <h3 class="feature-heading blue-text">ONLINE ID</h3>
     <p class="feature-text">
      Create your ID  online identity in just a click and embark on your digital journey today!
   </p>
  </div>
</a>
<a   href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F">
  <div class="feature-card orange-shadow">
     <div class="icon-container orange-bg">
      <i class="fas fa-headset"></i>
     </div>
     <h3 class="feature-heading orange-text">24/7 SUPPORT</h3>
     <p class="feature-text">
      There will always be someone available and ready to resolve any concerns or challenges.
   </p>
  </div>
  </a>

  <a   href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F">

  <div class="feature-card blue-shadow">
     <div class="icon-container blue-bg">
      <i class="fas fa-handshake"></i>
     </div>
     <h3 class="feature-heading blue-text">100% TRUSTED </h3>
     <p class="feature-text">
      Titan encourages you to gamble responsibility and we gurantee that it is 100% legal. 
     </p>
  </div>
  </a>
  <a   href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F">

  <div class="feature-card blue-shadow">
     <div class="icon-container blue-bg">
      <i class="fas fa-bolt"></i>
     </div>
     <h3 class="feature-heading blue-text">INSTANT WITHDRAWAL </h3>
     <p class="feature-text">Titan provides prompt service of if withdrawal and refill along with maximum and minimum amount.</p>
  </div>
  </a>

  <a   href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F">
  <div class="feature-card orange-shadow">
     <div class="icon-container orange-bg">
      <i class="fas fa-money-bill-wave"></i>
     </div>
     <h3 class="feature-heading orange-text"> PAYMENT METHODS</h3>
     <p class="feature-text">Access multiple payment methods like PAYT, BANK, TRANSFER, UPI, PHONEPE, GPAY etc.</p>
  </div>
  </a>

<a   href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F">

  <div class="feature-card blue-shadow">
     <div class="icon-container blue-bg">
      <i class="fas fa-fingerprint"></i>
     </div>
     <h3 class="feature-heading blue-text">HIGH SECURITY</h3>
     <p class="feature-text">Your safety and trust are our utmost priority, which is why Titan is dedicated to ensuring your peace of mind.</p>
  </div>
  </a>
 </section>
 
