 



 
 
   
 
    <div class="container">
        <header>
          <div class="logo">
          <a href="/"><img src="assets/img/logo.png" alt="Logo" /></a>
           </div>
           
           <div>
            <div class="nav-icons">
             
              <a href="https://www.instagram.com/thetitanbook/" class="btn btn-social">
                <i class="fab fa-instagram"></i>
              </a>
              <a class="btn btn-social" href="https://t.me/thetitanbookexchange">
                <i class="fa-brands fa-telegram"></i>
              </a>
              <a class="btn btn-social" href="https://wa.me/918982144908?text=Hello%2C%20Get%20my%20ID%3F">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </div>
            <div class="fixed-social-icons">
            
              <a href="https://www.instagram.com/thetitanbook/" class="btn btn-social">
                <i class="fab fa-instagram"></i>
              </a>
              <a class="btn btn-social" href="https://t.me/thetitanbookexchange">
                <i class="fa-brands fa-telegram"></i>
              </a>
              <a class="btn btn-social" href="https://wa.me/918982144908?text=Hello%2C%20Get%20my%20ID%3F">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </div>
           </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                     <li><a href="https://wa.me/918982144908?text=Hello%2C%20Get%20my%20ID%3F">Blog</a></li>
                    <li><a href="https://wa.me/918982144908?text=Hello%2C%20Get%20my%20ID%3F">FAQs</a></li>
                    <li><a href="https://wa.me/918982144908?text=Hello%2C%20Get%20my%20ID%3F">Join Now</a></li>
                </ul>
                <!-- Add this button after the logo div -->
 
            </nav>
        </header>
        
        <div class="telegram-banner">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="https://wa.me/918982144908?text=Hello%2C%20Get%20my%20ID%3F">
                  <img src="assets/img/carsaul03.jpg"   class="d-block w-100 rounded-image" alt="...">
                </a>
              </div>
              <div class="carousel-item">
                <a href="https://wa.me/8871147732?text=Hello%2C%20Get%20my%20ID%3F">
                  <img src="assets/img/carsaul02.jpg" class="d-block w-100 rounded-image" alt="...">
                </a>
              </div>
              <div class="carousel-item">
                <a href="https://wa.me/918982144908?text=Hello%2C%20Get%20my%20ID%3F">
                  <img src="assets/img/carsaul01.jpg" class="d-block w-100 rounded-image" alt="...">
                </a>
              </div>
              <div class="carousel-item">
                <a href="https://wa.me/918982144908?text=Hello%2C%20Get%20my%20ID%3F">
                  <img src="assets/img/carsaul04.jpg" class="d-block w-100 rounded-image" alt="...">
                </a>
              </div>
               
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
        </div>
        
        <div class="content">
          <h1>Unlock Your Potential with Titan - Match Predictions, Cricket IDs, and Betting IDs.</h1>            
          <p>Titan is your ultimate destination for sports lovers seeking IPL live scores, cricket match highlights, online cricket IDs, betting IDs, and Fantasy Cricket exchanges. We provide a platform for both traditional sports and Fantasy Cricket, where you can assemble your own virtual team and compete with others based on real-life player performances.</p>
            
          <p>Our team of seasoned cricket experts shares valuable insights and advice to elevate your Fantasy Titan Cricket experience, maximizing your chances of success in your Fantasy Cricket league or making profitable games. Obtain your Cricket ID and betting ID from the most trusted online cricket ID provider in the world.</p>
                      
          <p>Keep track of the latest sports news and updates, from major leagues and tournaments like the Indian Premier League (IPL) and World Cup to smaller events. Dive into the thrilling world of Online Bet IDs and Fantasy Cricket with Titan.</p>
          </div>

       
    </div>
 