 
  <!-- <app-carousel></app-carousel> -->
  
   <div   [ngStyle]="{
    'background-color': 'black',
    'background-image': backgroundImage,
    'background-size': 'contain',
    position: 'relative'
  }">
  <div class="container">
    <div class="inner">
      <app-navbar></app-navbar>
 
      <app-partner></app-partner>
    </div>
    
    
   <app-package-page></app-package-page> 
 
  <!--  <app-how-to-play></app-how-to-play> -->
     <app-promotion></app-promotion> 
     
   <app-footer></app-footer>   
  </div>
  </div>