 
    <footer class="main-footer">
      <div class="footer-container">
        <div class="payment-section">
          <h3 class="payment-title">Payment Methods</h3>
          <div class="payment-methods">
            <div class="payment-icon">
              <img src="assets/img/Images/Bank_deposit.png" alt="Bank Deposit" />
            </div>
            <div class="payment-icon">
              <img src="assets/img/Images/Rupee.png" alt="Rupee.io" />
            </div>
            <div class="payment-icon">
              <img src="assets/img/Images/UPI.png" alt="UPI" />
            </div>
            <div class="payment-icon">
              <img src="assets/img/Images/PhonePe.png" alt="PhonePe" />
            </div>
            <div class="payment-icon">
              <img src="assets/img/Images/PayTM.png" alt="PayTM" />
            </div>
            <div class="payment-icon">
              <img src="assets/img/Images/IMPS.png" alt="IMPS" />
            </div>
            <div class="payment-icon">
              <img src="assets/img/Images/freecharge.png" alt="FreeCharge" />
            </div>
            <div class="payment-icon">
              <img src="assets/img/Images/GPay.png" alt="GPay" />
            </div>
            <div class="payment-icon">
              <img src="assets/img/Images/airtel.png" alt="Airtel Money" />
            </div>
          </div>
        </div>

        <div class="footer-divider"></div>
        <div class="footer-content">
          <div class="content-block">
            <h3>Stay Alert for Exciting Deals and Odds</h3>
            <p>
              Unlock exclusive bonuses, rewards, and top-tier odds across multiple sports, including cricket. Get your betting ID today for premium sportsbook access.
            </p>
          </div>
        
          <div class="content-block">
            <h3>Titan and Our Teams support 24x7 </h3>
            <p>
              India's premier licensed gaming platform (License: 365/JAZ), offering 200+ casino games and a wide range of sports betting options, including cricket, tennis, and football.
            </p>
          </div>
        
          <div class="content-block">
            <h3>100% Secure and Trusted Service</h3>
            <p>
              A fully licensed and secure platform committed to responsible gaming and user protection. Enjoy complete privacy and safety with our cricket ID portal.
            </p>
          </div>
        
          <div class="content-block">
            <h3>
              Your Ultimate Gaming Destination !
            </h3>
            <p>
              Experience 1500+ premium casino games, including 200 Indian favorites. Enjoy a real casino experience from the comfort of your home with our secure betting platform.
            </p>
          </div>
        </div>
        

        <div class="community-section">
          <h3 class="section-title">Join Our Community</h3>
          <div class="social-icons">
            <a
              href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F"
              class="social-icon"
              aria-label="WhatsApp"
            >
              <i class="fa-brands fa-whatsapp"></i>
            </a>
            <a
              href="https://t.me/thetitanbookexchange"
              class="social-icon"
              aria-label="Telegram"
            >
              <i class="fa-brands fa-telegram"></i>
            </a>
            <a
              href="https://www.instagram.com/thetitanbook/"
              class="social-icon"
              target="_blank"
              aria-label="Instagram"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="footer-bottom-left">
            <span>This site is operated by Titan</span>
            <div class="footer-links">
              <a href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F">About us</a> | <a href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F">Rules </a> |
              <a href="https://wa.me/918980773643?text=Hello%2C%20Get%20my%20ID%3F">Responsible Gaming</a>
            </div>
          </div>
          <div class="footer-bottom-right">
            <a href="/"><img src="assets/img/logo.png" alt="Logo" class="footer-logo" /></a>
            
          </div>
        </div>
        <div class="footer-divider"></div>

        <div class="disclaimer">
          <p>
            <strong>Disclaimer :</strong> Our services are for educational and
            entertainment purposes only. Not to be used for any kind of gambling
            purposes.
          </p>
        </div>
      </div>
    </footer>
  
