<div class=" container">
  <h1><b>Our </b> <span class="highlight">Partners</span></h1>

  <div class="partners-grid">
    
    <div class="partner-item">
      <a href="https://mahakalbook9.com"   style="text-decoration: none; color: inherit;">
        <div class="logo-container">
          <img src="assets/img/mahakal.png" alt="Mahakal" class="partner-logo" />
        </div>
        <div class="partner-footer">
          <a href="https://mahakalbook9.com" class="partner-domain"
          >mahakalbook9.com</a>
                </div>
      </a>
    </div>
    
    <div class="partner-item">
      <a href="https://faster777.com"  style="text-decoration: none; color: inherit;">
        <div class="logo-container">
          <img src="assets/img/faster.jpg" alt="Mahakal" class="partner-logo" />
        </div>
        <div class="partner-footer">
          <a href="https://faster777.com" class="partner-domain"
          >faster777.com</a>
                </div>
      </a>
    </div>

     
    
    <div class="partner-item">
      <a href="https://thetitanbook.games/">
      <div class="logo-container">
        <img src="assets/img/logo.png" alt="skyexchange" class="partner-logo" />
      </div>
      <div class="partner-footer">
        <a href="https://thetitanbook.games/" class="partner-domain"
          >thetitanbook.games</a
        >
      </div>
    </a>
    </div>
 

    
  </div>
</div>

